body {
    background-color: black;
    position: relative;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color:white;
    margin:0 auto;
    height:100%;
    text-align:center;
    font-size:18px;
}

li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: auto;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}


